.recipeTile {
    cursor: pointer;
}
.recipeTile__img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    transition: all 300ms;
}

.recipeTile__img:hover {
    transform: scale(1.1);
}

.recipeTile__name {
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
}